/*------
  RESET
--------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------
  GENERAL
--------*/
.container{
    display: flex;   
    max-width: 1180px;
    flex-wrap: wrap;
    margin: 0 auto; 
    min-height: 60px;
    align-items: center;
}

/*------
  HEADER
--------*/
header{
    background-color: #add8e6;
}

.col{
    border:1px dashed;
    background-color:#daa520;
    display: flex;
    width: 25%;
    padding: 6px;
}

.colleft{
    justify-content: flex-end;
}

.colright{
    justify-content: flex-start;
}

.col50{
    width: 50%;
    justify-content: center;
}

/*------
  MAIN
--------*/
.hero{
    background-color: #00008b;
    padding: 20px;
}

.pink{
    background-color: #ee82ee;
    height: 300px;
    width: 700px;
    margin: auto;
    border:2px dashed;
    }

.san{
    border:2px dashed;
    height: 400px;
    margin: 30px 0;
}

.blue{
    width: 60%;
    background-color: #1e90ff;
}

.lightpink{
    width: 40%;
    background-color: #ffc0cb;
}

.grey{
    background-color: #d3d3d3;
}
