/*------
  RESET
--------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------
  GENERAL
--------*/
.container{
    display: flex;   
    max-width: 1180px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px 0;
    min-height: 60px;
    align-items: center;
}

/*------
  HEADER
--------*/
header{
    background-color: #add8e6;
}

.col{
    border:1px dashed;
    background-color:#daa520;
    display: flex;
    width: 25%;
    padding: 6px;
}

.colleft{
    justify-content: flex-end;
}

.colright{
    justify-content: flex-start;
}

.col50{
    width: 50%;
    justify-content: center;
}

/*------
  MAIN
--------*/
.blue{
    background-color: #00008b;
    padding: 20px 0;

}

.pink{
    background-color: #ee82ee;
    height: 300px;
    width: 700px;
    margin: auto;
}
